body{
    margin:0;
    text-align:center;
}
#pic{
    height:300px;
    width:300px;
    border-radius:50%;
}
#welcome{
    position:absolute;
    bottom:0;
    background:linear-gradient(violet 0%,red 100%);
    width:100%;
    padding-top:800px;
    z-index:1;
}
#bio{
    padding:100px;
    margin-top:800px;
}
.line{
    height:8px;
    width:100px;
    background-color: black;
    margin:8px auto;
}
.menu{
    list-style:none;
    position:fixed;
    cursor:pointer;
    z-index:10;
    width:100%;
    margin-top:0px;
    background-color:lightgrey;
}
.links{
float:left;
padding-top:5px;
padding-bottom:5px;
padding-left:25px;
padding-right:25px;
font-size:20px;
}
#WRITINGS a{
    text-decoration:underline;
    color:blue;
}
.article:hover{
    color:red;
}
#contact{
    background-color:lightgray;
}
.contact_1 h3{
    display:inline;
}